data/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
Scratch.ipynb
email_credentials.json
aisles.csv
departments.csv
order_products__prior.csv
order_products__train.csv
orders.csv
products.csv
Untitled.ipynb
files/ILS_2019_on.csv.gz
