
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/Python fundamentals-checkpoint.ipynb
Scratch.ipynb
.ipynb_checkpoints/Scratch-checkpoint.ipynb
.ipynb_checkpoints/Numpy Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Numpy Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Numpy Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Numpy Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Numpy Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Numpy Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Numpy Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Numpy Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Numpy Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Numpy Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Numpy Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Numpy Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Numpy Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Pandas_Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Pandas Exercises - Tips-checkpoint.ipynb
.ipynb_checkpoints/Gapminder Exercises-checkpoint.ipynb
.ipynb_checkpoints/Tips Exercises-checkpoint.ipynb
.ipynb_checkpoints/Pandas_Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Pandas_Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Pandas_Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Web Scraping-Requests-BS4-checkpoint.ipynb
.ipynb_checkpoints/Numpy fundamentals part 1-checkpoint.ipynb
.ipynb_checkpoints/Pandas_Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Pandas_Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Matplotlib_Introduction-checkpoint.ipynb
.ipynb_checkpoints/Pandas_Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Pandas_Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Pandas_Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Pandas_Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Python Fundamentals-3-Data Structures-checkpoint.ipynb
.ipynb_checkpoints/Python Fundamentals-3-Data Structures-checkpoint.ipynb
